@import '../../styles/variables.scss';
@import '../../styles/typo.scss';

.categories {
}

.categoriesWrapper {
  text-align: center;
  margin: 0 -16px 18px;
}

.extraCategories {
  margin: 0 auto;
  width: 268px;
}
