@import "../styles/variables.scss";
@import "../styles/typo.scss";


.header {
    height: 80px;
}

.logo {
    line-height: 80px;
    margin-left: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}